@import url(http://fonts.googleapis.com/css?family=Economica|Fira+Mono|Oxygen+Mono|Open+Sans|Open+Sans+Condensed:300);

$background-color: #35383C;
$gold: #B2854C;

body{
	font-family: 'Open Sans';
	background-color: $background-color;
	-webkit-font-smoothing: antialiased;
}



header{
	background: $background-color;
	color: #fff;
	-webkit-font-smoothing: antialiased;
}

header .container{
	display: flex;
	justify-content: space-between;
	align-items: center;

	.icon-button{
		background-image: url("img/B.png") ;
		background-size: 100% 100%;
		height: 50px;
		width: 50px;
		-webkit-transform: scale(0.8);
	}
}

/* fix bootstrap and flex not working well together */
header .container:before,
header .container:after{ content: normal; }

.container{
	display: flex;
}

#icon-user:before{
	color: white;
	-webkit-font-smoothing: antialiased;
	font-size: 2.5em; 
	
}

.title{
	display: flex;
	flex-direction: column;
	height: 500px;  /* Remove this once content in page */

	#name1{
	font-family: 'Economica';
	font-size: 3em;
	color: $gold;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	}

	#name2{
		font-family: 'Open Sans';
		font-size: 2.5em;
		text-align: center;
		color: white;
		-webkit-font-smoothing: antialiased;

	}

}

.menu{
	font-size: 1.5em;
	color: white;
	font-family: 'Economica';
	text-decoration: none;
	list-style: none;

	a{
		color: white;
		text-decoration: none;
		list-style: none;
	}

}


/*------------------------------------------- Footer -------------------------------------------*/
footer{
	display: flex;
	justify-content: space-between;
	background-color: white;
	height: 50px;
	margin-bottom: 0px;

	.footer-pic{
		background-image: url("img/logo-gold.png");
		background-size: 100% 100%;
		height: 40px;
		width: 40px;
		-webkit-transform: scale(0.8);
		margin: 5px 10px 0 10px;
	}

	.logo>p{
		font-family: 'Economica';
		color: $gold;
		font-size: 3em;
		margin-top: 0;
		padding-bottom: 10px;
	}
}

